{% extends 'base.html' %}

{% block title %}Fornecedores{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Fornecedores</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for fornecedor in fornecedores %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{fornecedor}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}