{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Produtos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for produto in produtos %}
        <div class="col">
            <a href="{% url 'produto-details' produto.id %}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text fw-bold">R$ {{ produto.preco }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}