{% extends 'base.html' %}

{% block title %}Detalhes do Produto{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Detalhes do Produto</h1>

    <a href="{% url 'produtos' %}" class="btn mb-4">← Voltar para lista de produtos</a>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{produto.nome}}</h2>
            <h4 class="text-success">Preço: R$ {{produto.preco}}</h4>

            <p class="mt-3"><strong>Descrição:</strong>
                <span class="text-muted">{{produto.descricao}}</span>
            </p>

            <p><strong>Quantidade em Estoque:</strong> {{produto.quantidade_estoque}} unidades</p>

            <p><strong>Fornecedor:</strong> {{produto.fornecedor}}</p>

            <p><strong>Categorias:</strong>
                {% for categoria in produto.categorias.all %}
                <span class="badge bg-secondary">{{categoria}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}